[Unit]
Description=Kubernetes Scheduler
Documentation=https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/
After=network-online.target kube-apiserver.service
Wants=network-online.target
Requires=kube-apiserver.service

[Service]
ExecStart=/usr/local/bin/kube-scheduler \
  --config={{ k8s_scheduler_config_path }} \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
