[Unit]
Description=Elasticsearch node %i
Documentation=https://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
NotifyAccess=all

User=elasticsearch
Group=elasticsearch

Environment=ES_HOME=/usr/share/elasticsearch
Environment=ES_PATH_CONF=/etc/elasticsearch/%i
Environment=PID_DIR=/run/elasticsearch
EnvironmentFile=-/etc/default/elasticsearch

WorkingDirectory=/usr/share/elasticsearch

ExecStart=/usr/share/elasticsearch/bin/systemd-entrypoint -p ${PID_DIR}/elasticsearch-%i.pid --quiet

RuntimeDirectory=elasticsearch
RuntimeDirectoryMode=0755

LimitNOFILE=65535
LimitNPROC=4096
LimitAS=infinity
LimitFSIZE=infinity
TimeoutStopSec=0
KillSignal=SIGTERM
KillMode=process
SendSIGKILL=no
SuccessExitStatus=143

StandardOutput=journal
StandardError=inherit

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target