apiVersion: v1
kind: Config
clusters:
  - name: {{ kubeconfig_cluster_name }}
    cluster:
      certificate-authority-data: {{ lookup('file', kubeconfig_ca_path) | b64encode }}
      server: {{ kubeconfig_server }}
users:
  - name: {{ kubeconfig_user_name }}
    user:
      client-certificate-data: {{ lookup('file', kubeconfig_client_cert_path) | b64encode }}
      client-key-data: {{ lookup('file', kubeconfig_client_key_path) | b64encode }}
contexts:
  - name: default
    context:
      cluster: {{ kubeconfig_cluster_name }}
      user: {{ kubeconfig_user_name }}
current-context: default
