[Unit]
Description=Prometheus Redis Exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ redis_exporter_user }}
Group={{ redis_exporter_group }}
ExecStart={{ redis_exporter_bin_path }} \
  --web.listen-address={{ redis_exporter_listen_address }} \
  --redis.addr={{ redis_exporter_redis_addr }}
Restart=on-failure
RestartSec=2

NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target