bind {{ redis_bind_address }}
port {{ item.port }}
protected-mode {{ redis_protected_mode }}
daemonize no

dir {{ redis_data_dir }}/{{ item.port }}
logfile "{{ redis_log_dir }}/redis-{{ item.port }}.log"

{% if item.role == 'replica' %}
replicaof {{ item.replicaof_host }} {{ item.replicaof_port }}
{% endif %}
