[Unit]
Description=Redis Sentinel on port %i
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ redis_user }}
Group={{ redis_group }}
ExecStart=/usr/bin/redis-server {{ redis_conf_dir }}/sentinel-%i.conf --sentinel
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target